:root 
    {
    --header-height: 3rem;
  
    --white-color-lightness:100%;
    
    --color-white: rgb(246, 254, 255);
    --color-light: hsl(192, 83%, 84%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(198, 97%, 13%);
    --color-dark: rgb(7, 119, 134);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Josefin Sans', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 700;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
  
    /*========== Card padding ==========*/
    --card-padding:1.9rem 0.95rem;

    /*========== Border radius ==========*/
    --border-radius: 1.25rem;

    /*========== Box shadow ==========*/
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  }
  /*========== Reusable Class ==========*/
  .padd-15{
    padding-left: 15px;
    padding-right: 15px;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body,input,button,textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  body{
    background-color: var(--color-white);
    color: var(--color-dark);
    line-height: 1.7;
    font-weight: var(--font-medium);
    height: 100vh;
  }
  img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: var(--color-dark);
  }
  h1,h2,h3{
    font-weight: var(--font-semi-bold);
  }
  h1{
    font-size: var(--h1-font-size);
  }
  h2{
    font-size: var(--h2-font-size);
  }
  h3{
    font-size: var(--h3-font-size);
  }
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    height: var(--header-height);
    padding-left: 30px;
    padding-right: 30px;
}
.nav-logo{
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
    list-style: 0.125rem;
    letter-spacing: 0.95px;
    position: relative;
  }
  .nav-logo::after{
    position: absolute;
    content: '';
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: var(--color-dark);
    top: 62%;
    right: -0.45rem;
  }
.nav-list ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav-list li{
    text-decoration: none;
    margin: 0 20px;
    color: white;
    font-size: 15px;
    transition: all .3s ease;
}
a{
    text-decoration: none;
    color: white
}
.nav-list a:hover{
    color: var(--color-dark);
}
main{
    margin: auto;
    padding-top: 30px;
}
.chat{
    width: 65%;
}
.chat-left{
    margin-left: 20px;
}
.chat-right{
    margin-top: 50px;
}
.align-right{
    display: flex;
    justify-content: right;
}
.avatar{
    flex: 0 0 25%;
    max-width: 25%;
}
.chat img{
    width: 50px;
}
.chat-content{
    flex: 0 0 75%;
    max-width: 75%;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--card-padding);
}
.chat-content p{
    color: hsl(235, 21%, 11%);
}
.chat-content h2{
    color: var(--color-dark);
}
.chat-content-1{
    margin-left: -60px;
}
.chat-content-2{
    text-align: right;
}

.chat-icon{
    display: flex;
    justify-content: right;
    align-items: baseline;
    padding-right: 20px;
}
