.main{
  width: 90vw;
  margin: 5rem auto;
  position: relative;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.edward-section{
  margin-bottom: 6rem;
}

.edward-avatar{
  margin-right: 3rem;
}

.text-container{
    background-color: #DFF6FF;
    width: 60%;
    border-radius: 20px;
}

.left-container {
  margin-right: auto;
  padding: 2rem 4rem 2rem 3rem;
  text-align: left;
}

.text h2 {
  font-size: 1.65rem;
  color: #1499C3;
  margin-bottom: 1.4rem;
}

.text p{
  font-size: 1.2rem;
  line-height: 1.7;
  width: 90%;
  color: #093F58;
}

.right-container {
  margin-left: auto;
  padding: 2rem 3rem 2rem 4rem;
  text-align: right;
}

.elon-text p {
  margin-left: auto;
}

.elon-avatar {
  margin-left: 3rem;
}

.elon-section {
  margin-bottom: 6rem;
}


.stars-container img{
  max-width: 30%;
  height: auto;
  position: absolute;
  top: -60px;
  left: -100px;
}


/* MEDIA QUERRIES */

@media screen and (max-width: 1550px) {
  html {
    font-size: 75%;
  }

    .stars-container img {
      max-width: 30%;
      height: auto;
      position: absolute;
      top: -60px;
      left: -70px;
    }

}

@media screen and (max-width: 912px) {

  html {
    font-size: 65%;
  }

    .stars-container img {
      max-width: 40%;
      top: 4px;
      left: -50px;
    }
}

@media screen and (max-width: 600px) {

.avatar img {
    width: 50px;
  }

  .edward-avatar {
    margin-right: 1rem;
  }

.elon-avatar {
  margin-left: 1rem;
}

.text-container {
  width: 100%;
}

.text p {
  line-height: 1.4;
  width: 100%;
}

.right-container, .left-container {
  padding: 2rem;
}

.stars-container img {
  max-width: 50%;
  top: 120px;
  left: -20px;
}
}
