/* GLOBAL STYLES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #1499C3;
}

h1 {
  color: white;
  font-size: 2.6rem;
  font-weight: 400;
}

h1 span {
  color: #1499C3;
}

svg {
  max-width: 100%;
  height: auto;
}

/* NAV-BAR */
.main-head {
  background-color: #093F58;
}

nav {
  width: 90%;
  margin: auto;
  min-height: 11vh;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.nav-items {
  display: flex;
}

.nav-items li {
  font-size: 1.4rem;
}

li:first-child {
  margin-right: 4.5rem;
}

/* FOOTER */
footer {
  background-color: #06283D;
  min-height: 10vh;
  display: grid;
  place-items: center;
}

footer h6 {
  color: white;
  font-size: 1rem;
}
