.total-votes-h2 {
    margin-top: 4.5rem;
    text-align: center;
    font-size: 1.6rem;
    color: #093F58;
}


/* PROGRESS BAR */
#progress-bar-section {
    width: 90%;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: row;
}

.progress {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.progress-img p {
   text-align: center;
   padding-top: 1.5rem;
   font-size: 1.2rem;
}

.progress-img img {
    width: 96px;
}

.progress-bar{
    margin-bottom: 2.65rem;
    flex: 1;
    height: 36.5px;
}


.edward-progress-bar {
    background-color: #1499C3;
}

.edward-progress {
    width: 61%;
}

.elon-progress-bar {
    background-color: #DFF6FF;
}

.elon-progress{
    margin-left: auto;
    width: 39%;
}

span {
    color: #1499C3;
}

/* FORM  */
.form-section {
    text-align: center;
    height: 59%;
    width: 45vw;
    margin: auto;
    border: 1px #FCFEFF solid;
    border-radius: 20px;
    box-shadow: 3px 4px 150px -90px rgba(9, 63, 88, 0.7);
    margin-bottom: 5rem;
}

.form-section h3{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

label {
    font-size: 1.2rem;
}

form {
   display: grid;
   place-items: center;
}

label span{
    margin-right: 2rem ;
}

.state-form{
    margin-bottom: 3rem;
    position: relative;
}

.who-form{
    margin-left: 3rem;
}

select {
    -webkit-appearance: none;
    appearance: none;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #093F58;
    background: #DFF6FF;
    border: 1.2px solid #000000;
    border-radius: 13.3385px;

}

.dropdown-arrow {
    cursor: pointer;
    width: 0.9rem;
    position: absolute;
    right: 16px ;
    top: 18px;
}


.who-form input {
    vertical-align: middle;
    margin-right: 1rem;
}

.submit-btn {
    margin-top: 3rem;
    border: none;
    padding: 0.8rem 4.2rem 0.8rem 4.4rem;
    background-color: #093F58;
    box-shadow: 0px 4px 4px rgba(9, 63, 88, 0.1);
    border-radius: 15.3385px;
    color: white;
    font-size: 1.3rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 2rem;
}

.submit-btn img {
    height: auto;
    max-width: 100%;
    width: 1.25rem;
    cursor: pointer;
}


/* MEDIA QUERRIES */
@media screen and (max-width: 1550px) {
    html {
        font-size: 75%;
    }

    .who-form {
         margin-left: 5.5rem;
    }

        .progress-img img {
            width: 5.5rem;
        }


        .progress-bar {
            height: 25px;
            margin-bottom: 2.65rem;
        }

    .who-form input {
        width: 60px;

    }

    .who-form {
        margin-left: 1.6rem;
    }

        .dropdown-arrow {
            top: 13px;
        }

}

@media screen and (max-width: 820px) {

    html {
        font-size: 65%;
    }

    nav {
        min-height: 10vh;
    }

    .nav-items li {
        margin-right: 2rem;
    }

    .form-section {
        width: 70vw;
        height: 52vh;
    }

    .who-form {
        margin-left: 2rem;
    }

    .who-form input {
        width: 5rem;
        }

    .progress-img img{
        width: 5rem;
    }

    .progress-img p {
        font-size: 1rem;
    }

    .total-votes-h2 {
        font-size: 1.3rem;
    }

     .progress-bar {
        height: 19.8px;
        margin-bottom: 2.48rem;
        }

    .dropdown-arrow {
        top: 11px;
    }

}

@media screen and (min-height: 830px), screen and (max-width: 821px){
    .form-section {
            height: 38%;
        }

}
